{% extends 'base.html' %}

<title>{% block title %} Home {% endblock title %}</title>


{% block content %}




    <div class="container">
        <div class="row">
            {% for photo in all_photos %}
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card shadow-sm w-100">
                        <a href="{% url 'detail' photo.id %}">
                            <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.title }}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-muted text-decoration-line-through">${{ photo.original_price }}</span>
                                <span class="badge bg-success">${{ photo.offer_price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock content %}